/* Aplicar en todos los HTML */

/* Aplicar en todos los HTML */
.flex-container-ye {
justify-content: center;
  display: flex;
  flex-wrap: row wrap;
} 
.flex-container-ye > div {
  width: 300px;
  height: auto;
  margin: 10px;
  text-align: center;
  line-height: 20px;
  font-size: 30px;
}

.containerArtist {
	transition: all .2s ease-in-out;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
  position: relative;
  width: 20%;
}
.containerArtist:hover {
  -ms-transform: scale(1.02); /* IE 9 */
  -webkit-transform: scale(1.02); /* Safari 3-8 */
  transform: scale(1.02); 
}
.imageArtist {
  display: block;
  width: 100%;
  height: auto;
}

.overlayArtist {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color:  rgba(102, 0, 102, .70);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.containerArtist:hover .overlayArtist {
  bottom: 0;
  height: 100%;
}

.textArtist-ye {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.containerua {
	transition: all .2s ease-in-out;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
  position: relative;
  width: 20%;
}
.containerua:hover {
  -ms-transform: scale(1.02); /* IE 9 */
  -webkit-transform: scale(1.02); /* Safari 3-8 */
  transform: scale(1.02); 
}
.imageua {
  display: block;
  width: 100%;
  height: auto;
}

.overlayua {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color:  rgba(102, 0, 102, .70);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.containerua:hover .overlayua {
  bottom: 0;
  height: 100%;
}

.textua {
  color: white;
  font-size: 200%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.titulos{
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: rgba(97, 63, 124, 0.4);
  border-top: 1px solid rgba(100, 100, 100, 0.3);
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
  padding-bottom: 1%;
  padding-top: 1%;
  text-align: center;
}
.titulos h2{
  text-align: center;
  background-color: rgba(145, 39, 231, 0.4);
  border: 2px solid rgba(255, 255, 255, 0.3);
  /*margin-left:40%;
  margin-right: 40%;*/
  padding-top: 5px;
  padding-bottom: 5px 
}

