{% extends 'blog/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
        <title>OxiLab | Nosotros</title>
<body>
{% block content %}
<link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
<div class="social-bar"> <a href="https://m.facebook.com/login/?locale2=es_ES" target="_blank"><i class="fab fa-facebook-square"></i></a> <a href="https://www.instagram.com/?hl=es-la" target="_blank"><i class="fab fa-instagram"></i></a> <a href="https://www.twitch.tv/" target="_blank"><i class="fab fa-discord"></i></a> <a href="https://www.youtube.com/?hl=es-419&gl=CL" target="_blank"><i class="fab fa-youtube"></i></a> <a href="https://open.spotify.com/playlist/37i9dQZF1DWWQRwui0ExPn?" target="_blank"><i class="fab fa-spotify"></i></a> 
    </div>
<div  id="section2" class="titulos">
    <h2 style="padding-top: 10px">Equipo de Desarrollo de Oxilab</h2>
</div>
<!--Card card/>--> 
<br>
<div class="flex-container-yia">
    <div class="containerCARD"> <img src="{% static 'IMG/covers/About1.png' %}" alt="IVAN" class="imageCARD">
        <div class="overlayCARD">
            <p class="textCARD">Ivan Olivares<br>
                -<br>
                Depto de Testing y HR <br>
                <i class="far fa-keyboard"></i></p>
        </div>
    </div>
    <div class="containerCARD"> <img src="{% static 'IMG/covers/About2.png' %}" alt="PELUCA" class="imageCARD">
        <div class="overlayCARD">
            <p class="textCARD">Max Valdebenito<br>
                -<br>
                Depto de Diseno y Estructura<br>
                <i class="fas fa-paint-brush"></i></p>
        </div>
    </div>
    <div class="containerCARD"> <img src="{% static 'IMG/covers/About3.png' %}" alt="ESTEBAN" class="imageCARD">
        <div class="overlayCARD">
            <p class="textCARD">Esteban Pizarro<br>
                -<br>
                Analista Programador <br>
                <i class="fas fa-laptop-code"></i></p>
        </div>
    </div>
</div>
<div id="info">
    <p id="nosotros"> Esta pagina tiene por objetivo dar a conocer y brindar un espacio dedicado a artistas de genero indie <br>
        para facilitar la difucion de sus proyectos y eventos <br>
        Aqui podras encontrar a artistas de genero Lo Fi, Garage Rock, Hip Hop, Electronica entre otros <br>
    </p>
</div>
    <br>
    
<script src="{%static 'JS/aboutus.js' %}"></script>
{% endblock %}
</body>
</html>