{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="{%static 'IMG/obeats.png' %}" sizes="48x48" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome-free-5.10.2-web/fontawesome-free-5.10.2-web/css/all.css' %}">
    <script src="{%static 'JS/jquery-3.4.1.js'%}"></script>
    <script src="{%static 'JS/bootstrap-3.3.7-dist/js/bootstrap.min.js'%}"></script>
    <link href="CSS/flexboxgrid.min.css" rel="stylesheet" type="text/css" />
    <script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
    <link href="fontawesome-free-5.10.2-web/fontawesome-free-5.10.2-web/css/all.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lexend+Exa&display=swap" rel="stylesheet">
</head>


<body>
    <div id="sidebar">
        <div class="toggle-btn">
            <div class="containerLogo" onclick="myFunction(this);AbrirMenu()">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </div>
        <div id="lateral_derecho">
            <ul>
                    {% if user.is_authenticated %}
                    <!-- <li> <a class="tooltippd" href="{% url 'Perfil'  %}"><i class="fas fa-user"></i><span
                        class="tooltiptext" style="width: 130px; text-align: center;">Perfil: {{user.get_username}}</span></a></li> -->
                    <li><a class="tooltippd" href="{% url 'Logout' %}"><i class="fas fa-power-off"></i><span
                                class="tooltiptext" style="width: 130px; text-align: center;">Cerrar Sesion User: {{ user.get_username }}</span></a></li>   
                               {% else %}
                    <li><a class="tooltippd" href="{% url 'Login' %}"><i class="fas fa-user-circle"></i><span
                                class="tooltiptext" style="width: 130px; text-align: center;">Iniciar Sesion</span></a></li>    
                    {% endif %}   
            </ul>
        </div>
        <ul>
            <li> <a class="tooltip" href="{% url 'Inicio'  %}"><i class="fas fa-home"></i><span
                        class="tooltiptext" style="width: 130px; text-align: center;">Inicio</span></a> </li>
            <li> <a class="tooltip" href="{% url 'Comunity'  %}"><i class="fas fa-globe"></i><span
                        class="tooltiptext" style="width: 130px; text-align: center;">Comunidad</span></a> </li>
            <li> <a class="tooltip" href="{% url 'Discover'  %}"><i class="fas fa-search"></i> <span
                        class="tooltiptext" style="width: 130px; text-align: center;">Explorar</span></a> </li>          
            <li> <a class="tooltip" href="{% url 'Signup'  %}"><i class="far fa-address-book"></i><span
                        class="tooltiptext" style="width: 130px; text-align: center;">Registrar</span></a> </li>
        </ul>
    </div>

    <header class="sticky"> <a href="{% url 'Inicio'  %}"><img id="logo" src="{% static 'IMG/oxilab_icon.png'%}" alt="logoxilab"> </a>
        <div class="topnav"> <a href="#section1">Inicio</a> <a href="{% url 'post_list'  %}">Novedades</a> <a href="{% url 'AboutUs'  %}">Nosotros</a>{% if user.is_authenticated %}<a href="{% url 'post_new'  %}">Nuevo Post</a>{% endif %}
            <div class="search-container">
                <form autocomplete="off" action="/">
                    <div class="autocomplete">

                        <input id="myInput" type="text" placeholder="Search.." name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </header>
    <!-- asdasdasd -->
    {% block content %}

 





    
    {% endblock %}
    <!-- dsfkjsdfjhgf -->
    <footer id="foot"> <br>
        <div class="foot_izquierdo">
            <h3>Equipo de Desarrollo "oxilab"</h3><br>
            <a href="{% url 'AboutUs'  %}" style="color: aliceblue">Conoce al Equipo de Desarrollo</a><br>
            <a href="{% url 'Login' %}" style="color: aliceblue">Pagina en proceso</a>
        </div>
        <div class="foot_centro">
            <img id="icono_footer" src="{%static 'IMG/oxilab_icon.png'%}" alt="logoxilab">
            <div class="social-bar-foot">
                <a href="https://m.facebook.com/login/?locale2=es_ES" target="_blank"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.instagram.com/?hl=es-la" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.twitch.tv/" target="_blank"><i class="fab fa-discord"></i></a>
                <a href="https://www.youtube.com/channel/UCHIehV84oz_yo--nfyaHS8w?view_as=subscriber" target="_blank"><i class="fab fa-youtube"></i></a>
                <a href="https://open.spotify.com/playlist/37i9dQZF1DWWQRwui0ExPn?" target="_blank"><i class="fab fa-spotify"></i></a> 
        </div>
        </div>
        <div class="foot_derecho"><h3 >Importante!</h3><br>
            Oxilab no aloja absolutamente nada del material expuesto en sus servidores, cumplimos la funcion de buscador de enlaces publicos relacionados con el ambito musical
        </div>
        <br>
    </footer>
    <script src="{%static 'JS/main.js'%}"></script>
    <script src="{%static 'JS/Containers_Interact.js'%}"></script> 
</body>

</html>