{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}
<title>OxiLab | Comunidad</title>
<link href="{% static 'css/comunity.css' %}" rel="stylesheet" type="text/css" />
<div id="section1" class="descripcion">
    <p>Una pequena muestra de los ultimos agregados en los distintos generos mas visitados en nuestra comunidad</p>
</div>
<div class="titulos" >
    <h2 style="padding-top: 10px" >Trap / Hip-Hop / Lo-Fi</h2>
</div>
<div  class="Artistas_populares">
    <div class="flex-container-ye">
        <div class="containerArtist"> <img src="{% static 'IMG/getuthemoon.jpg' %}" alt="Avatar" class="imageArtist">
            <div class="overlayArtist">
                <div class="textArtist-ye">Kina<br>
                    -<br>
                    Get U The Moon
                    <br>
                    <br>
                    <i class="far fa-play-circle"></i>
                </div>
                    
            </div>
        </div>
        <div class="containerArtist"> <img src="{% static 'IMG/burgos.jpg' %}" alt="Avatar" class="imageArtist">
            <div class="overlayArtist">
                <div class="textArtist-ye">Burgos<br>
                    -<br>
                    Every Step Of The Guey<br>
                    <br>
                    <i class="far fa-play-circle"></i></div>
            </div>
        </div>
        <div class="containerArtist"> <img src="{% static 'IMG/lowkey.jpg' %}" alt="Avatar" class="imageArtist">
            <div class="overlayArtist">
                <div class="textArtist-ye">Suicide Boys<br>
                    -<br>
                    Lowkey<br>
                    <br>
                    <i class="far fa-play-circle"></i></div>
            </div>
        </div>
        <div class="containerArtist"> <img src="{% static 'IMG/jp_whocares.jpg' %}" alt="Avatar" class="imageArtist">
            <div class="overlayArtist">
                <div class="textArtist-ye">Peacock Affect<br>
                    -<br>
                    Who Cares If You Exist<br>
                    <br>
                    <i class="far fa-play-circle"></i></div>
            </div>
        </div>
        <div class="containerArtist"> <img src="{% static 'IMG/sus-scales.jpg' %}" alt="Avatar" class="imageArtist">
            <div class="overlayArtist">
                <div class="textArtist-ye">Scale$<br>
                    -<br>
                    Sus<br>
                    <br>
                    <i class="far fa-play-circle"></i></div>
            </div>
        </div>
    </div>
</div>
<div class="titulos">
    <h2 style="padding-top: 10px"> Alternativa / Indie / Garage Rock</h2>
</div>
<div  class="Artistas_populares">
    <div class="flex-container-ye">
        <div class="containerArtist"> <img src="{% static 'IMG/Alternativa-Eclipse-InnerWave.jpg' %}" alt="Avatar" class="imageArtist">
            <div class="overlayArtist">
                <div class="textArtist-ye">InnerWave<br>
                    -<br>
                    Eclipse<br>
                    <br>
                    <i class="far fa-play-circle"></i></div>
            </div>
        </div>
        <div class="containerArtist"> <img src="{% static 'IMG/Alternativa_Nagashi_Idealism.jpg' %}" alt="Avatar" class="imageArtist">
            <div class="overlayArtist">
                <div class="textArtist-ye">Nagashi<br>
                    -<br>
                    Idelism<br>
                    <br>
                    <i class="far fa-play-circle"></i></div>
            </div>
        </div>
        <div class="containerArtist"> <img src="{% static 'IMG/Alternativa_Smooth_JackStauber.jpg' %}" alt="Avatar" class="imageArtist">
            <div class="overlayArtist">
                <div class="textArtist-ye">Jack Stauber<br>
                    -<br>
                    Smooth<br>
                    <br>
                    <i class="far fa-play-circle"></i></div>
            </div>
        </div>
        <div class="containerArtist"> <img src="{% static 'IMG/Alternativa_Sungazing_JoyAgain.jpg' %}" alt="Avatar" class="imageArtist">
            <div class="overlayArtist">
                <div class="textArtist-ye">Joy Again<br>
                    -<br>
                    Sungazing<br>
                    <br>
                    <i class="far fa-play-circle"></i></div>
            </div>
        </div>
        <div class="containerArtist"> <img src="{% static 'IMG/Garage_ArticMonkeys_505.jpg' %}" alt="Avatar" class="imageArtist">
            <div class="overlayArtist">
                <div class="textArtist-ye">Arctic Monkeys<br>
                    -<br>
                    505<br>
                    <br>
                    <i class="far fa-play-circle"></i></div>
            </div>
        </div>
    </div>
</div>
<div class="titulos">
    <h2 style="padding-top: 10px" > Electronica </h2>
</div>
<div  class="Artistas_populares">
    <div class="flex-container-ye">
        <div class="containerArtist"> <img src="{% static 'IMG/howsla.jpg' %}" alt="Avatar" class="imageArtist">
            <div class="overlayArtist">
                <div class="textArtist-ye">OWSLA<br>
                    -<br>
                    HOWSLA MIX-TAPE<br>
                    <br>
                    <i class="far fa-play-circle"></i></div>
            </div>
        </div>
        <div class="containerArtist"> <img src="{% static 'IMG/Imgone.jpg' %}" alt="Avatar" class="imageArtist">
            <div class="overlayArtist">
                <div class="textArtist-ye">JOYRYDE<br>
                    -<br>
                    I'M GONE<br>
                    <br>
                    <i class="far fa-play-circle"></i></div>
            </div>
        </div>
        <div class="containerArtist"> <img src="{% static 'IMG/NoRedemption.jpg' %}" alt="Avatar" class="imageArtist">
            <div class="overlayArtist">
                <div class="textArtist-ye">Tchami and Malaa<br>
                    -<br>
                    No Redemption<br>
                    <br>
                    <i class="far fa-play-circle"></i></div>
            </div>
        </div>
        <div class="containerArtist"> <img src="{% static 'IMG/Friends.jpg' %}" alt="Avatar" class="imageArtist">
            <div class="overlayArtist">
                <div class="textArtist-ye">Flume<br>
                    -<br>
                    Friends<br>
                    <br>
                    <i class="far fa-play-circle"></i></div>
            </div>
        </div>
        <div class="containerArtist"> <img src="{% static 'IMG/troyboi.jpg' %}" alt="Avatar" class="imageArtist">
            <div class="overlayArtist">
                <div class="textArtist-ye">Troyboi<br>
                    -<br>
                    V!BEZ Vol. 3<br>
                    <br>
                    <i class="far fa-play-circle"></i></div>
            </div>
        </div>
    </div>
</div>
<div id="ultimos-agregados" class="titulos" >
    <h2 style="padding-top: 10px" >Ultimos Agregados</h2>
</div>
<div class="descripcion">
    <p>Ultimos agregados en la pagina (ciclo de 24hrs)</p>
</div>
    <div class="ultimos-agregados">
        <div style="display: flex; justify-content: center; margin: auto; height: 60px;width:90%;padding: 5%;">
                <div class="gcse-searchbox-only" data-resultsUrl="https://cse.google.com/cse?cx=002275355000324779128:cvu907ss83w" target="_blank"></div>    
        </div>
        <div class="flex-container-ua">
            <div>1</div>
            <div class="containerua"> <img src="{% static 'IMG/Friends.jpg' %}" alt="Avatar" class="imageua">
                <div class="overlayua">
                    <div class="textua">
                    Flume<br>-<br>Friends
                    </div>
                </div>
            </div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
            <div>6</div>
            <div class="containerua"> <img src="{% static 'IMG/Friends.jpg' %}" alt="Avatar" class="imageua">
                <div class="overlayua">
                    <div class="textua">
                    Flume<br>-<br>Friends
                    </div>
                </div>
            </div>
            <div>8</div>
            <div>9</div>
            <div class="containerua"> <img src="{% static 'IMG/Friends.jpg' %}" alt="Avatar" class="imageua">
                <div class="overlayua">
                    <div class="textua">
                    Flume<br>-<br>Friends
                    </div>
                </div>
            </div>
            <div>11</div>
            <div>12</div>
            <div>13</div>
            <div>14</div>
            <div>15</div>
            <div>16</div>
            <div class="containerua"> <img src="{% static 'IMG/Friends.jpg' %}" alt="Avatar" class="imageua">
                <div class="overlayua">
                    <div class="textua">
                    Flume<br>-<br>Friends
                    </div>
                </div>
            </div>
            <div>18</div>
            <div class="containerua"> <img src="{% static 'IMG/Friends.jpg' %}" alt="Avatar" class="imageua">
                <div class="overlayua">
                    <div class="textua">
                    Flume<br>-<br>Friends
                    </div>
                </div>
            </div>
            <div>20</div>
            <div class="containerua"> <img src="{% static 'IMG/Friends.jpg' %}" alt="Avatar" class="imageua">
                <div class="overlayua">
                    <div class="textua">
                    Flume<br>-<br>Friends
                    </div>
                </div>
            </div>
            <div>22</div>
            <div>23</div>
            <div>24</div>
        </div>
    </div>

<br>
<style>
.flex-container-ua{
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flex-container-ua> div {
    width: 250px;
    height: 250px;

}
</style>
<script src="{%static 'JS/comunity.js' %}"></script>
{% endblock %}