{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}
<link href="{% static 'css/discover.css' %}" rel="stylesheet" type="text/css" />

<div  id="noticias"  class="titulos">
    <h2>Noticias</h2>
</div>
<a id="scrolldown" href="#section2"><i class="fas fa-angle-double-down"></i></a> <br>
<br>
<!-- Container for the image gallery -->
<div class="slideshow-container">
    <div class="mySlides fade">
        <div class="numbertext">1 / 6</div>
        <img src="{% static 'IMG/GALERIA/OliverTreeCarousel.png' %}" alt="IMG_01" style="width:100%">
        <div class="text">Nuevo Single de Oliver Tree Ya Disponible!</div>
    </div>
    <div class="mySlides fade">
        <div class="numbertext">2 / 6</div>
        <img src="{% static 'IMG/GALERIA/LoFI2.png' %}" alt="IMG_02" style="width:100%">
        <div class="text">Lofi expo todos los Domingos  las 7pm en Youtube</div>
    </div>
    <div class="mySlides fade">
        <div class="numbertext">3 / 6</div>
        <img src="{% static 'IMG/GALERIA/JoeyPicoRaro.png' %}" alt="IMG_03" style="width:100%">
        <div class="text">Nuevo Single de Joey Pecoraro - Tired Boy</div>
    </div>
    <div class="mySlides fade">
        <div class="numbertext">4 / 6</div>
        <img src="{% static 'IMG/GALERIA/BROCKHAMPTON2.png' %}" alt="IMG_04" style="width:100%">
        <div class="text">Caption Three</div>
    </div>
    <div class="mySlides fade">
        <div class="numbertext">5 / 6</div>
        <img src="{% static 'IMG/GALERIA/Knobs2.png' %}" alt="IMG_05" style="width:100%">
        <div class="text">Proximamente Cursos de mastering y Produccion Digital</div>
    </div>
    <div class="mySlides fade">
        <div class="numbertext">6 / 6</div>
        <img src="{% static 'IMG/GALERIA/space.png' %}" alt="IMG_06" style="width:100%">
        <div class="text">"Space.s" Sera el nuevo label para Artistas Independientes</div>
    </div>
</div>
<br>
<div id="Dots" > <span class="dot"></span> <span class="dot"></span> <span class="dot"></span> <span class="dot"></span> <span class="dot"></span> <span class="dot"></span> </div>
<div  id="section2" class="titulos">
    <h2 style="padding-top: 10px">Sample Packs</h2>
</div>
<div id="sample_pack">
    <div> 
        <!-- samp[lessssss] -->
        <div class="flex-container-samples" style="background-color: rgb(49, 12, 85)">
            <div class="containerSample" onclick="Reproductor()"> <img src="{% static 'IMG/covers/urban.jpg' %}" alt="Avatar" class="imageSample">
                <div class="overlaySample">
                    <p class="textSample">Urban Sample Pack</p>
                </div>
            </div>
            <div class="containerSample" onclick="Reproductor()"> <img src="{% static 'IMG/covers/aesthetic.jpeg' %}" alt="Avatar" class="imageSample">
                <div class="overlaySample">
                    <p class="textSample">Aesthetic Sample Pack</p>
                </div>
            </div>
            <div class="containerSample" onclick="Reproductor()"> <img src="{% static 'IMG/covers/japan.jpg' %}" alt="Avatar" class="imageSample">
                <div class="overlaySample">
                    <p class="textSample">Japan Rising Sun Sample Pack</p>
                </div>
            </div>
            <div class="containerSample" onclick="Reproductor()"> <img src="{% static 'IMG/covers/amsterdam.jpg' %}" alt="Avatar" class="imageSample">
                <div class="overlaySample">
                    <p class="textSample">Amsterdam Sample Pack</p>
                </div>
            </div>
            <div class="containerSample" onclick="Reproductor()"> <img src="{% static 'IMG/covers/PuenteAlto.png' %}" alt="Avatar" class="imageSample">
                <div class="overlaySample">
                    <p class="textSample">Puente Alto Sample Pack</p>
                </div>
            </div>
            <div class="containerSample" onclick="Reproductor()"> <img src="{% static 'IMG/rialto.jpg' %}" alt="Avatar" class="imageSample">
                <div class="overlaySample">
                    <p class="textSample">Rialto Venecia Sample Pack</p>
                </div>
            </div>
            <div class="containerSample" onclick="Reproductor()"> <img src="{% static 'IMG/Caribbean.png' %}" alt="Avatar" class="imageSample">
                <div class="overlaySample">
                    <p class="textSample">Caribbean House Sample Pack</p>
                </div>
            </div>
            <div class="containerSample" onclick="Reproductor()"> <img src="{% static 'IMG/TompaBeats.jpeg' %}" alt="Avatar" class="imageSample">
                <div class="overlaySample">
                    <p class="textSample">Lofi Sample Pack</p>
                </div>
            </div>
        </div>
        <!-- samp[lessssss] --> 
    </div>
</div>
<br>
<a id="scrollup" href="#noticias"><i class="fas fa-angle-double-up"></i></a> <br>
<br>

<script src="{%static 'JS/discover.js' %}"></script>
{% endblock %}