{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}
<title>OxiLab | Inicio</title>
<link rel="stylesheet" href="{% static 'css/inicio.css' %}">
<div id="coaching">
    <div class="togglec-btn">
        <div class="containerLogo" onclick="myFunction(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </div>
    <p> panel Coach </p>
</div>
<!-- asdsdfsdfgsdgfhsdfgsdgf -->
<div id="remixes">
    <div class="toggler-btn">
        <div class="containerLogo" onclick="myFunction(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </div>
    <p> panel Remix </p>
</div>
<div class="descripcion">
    <p style="margin-left: 20px;margin-right: 20px;"> Crea, Comparte y Descubre nuevos Artistas junto con sus ultimos lanzamientos. <br>
        Noticias y Novedades relacionados a tus artistas favoritos </p>
</div>
<div class="titulos">
    <h2 id="section1" style="padding-top: 10px">Mas escuchadas</h2>
</div>
<a id="scrolldown" href="#section2" ><i class="fa fa-angle-double-down"></i></a> <br>
<br>
<div class="flex-container-ye" style="background-color: rgb(49, 12, 85)">
    <div class="containerSong" onclick="Reproducir('reproductor_visualizador')"> <img src="{% static 'IMG/Brockhampton.jpg'%}" alt="Avatar" class="imageSong">
        <div class="overlaySong">
            <p class="textSong">Brockhampton<br>
                -<br>
                SATURATION lll</p>
        </div>
    </div>
    <div class="containerSong" onclick="Reproducir('reproductor_visualizador')"> <img src="{% static 'IMG/Skin.jpg'%}" alt="Avatar" class="imageSong">
        <div class="overlaySong">
            <p class="textSong">Flume<br>
                -<br>
                Skin</p>
        </div>
    </div>
    <div class="containerSong" onclick="Reproducir('reproductor_visualizador')"> <img src="{%static 'IMG/burgos.jpg'%}" alt="Avatar" class="imageSong">
        <div class="overlaySong">
            <p class="textSong">Burgos<br>
                -<br>
                Every Step Of The Guey</p>
        </div>
    </div>
    <div class="containerSong" onclick="Reproducir('reproductor_visualizador')"> <img src="{%static 'IMG/chacha.png'%}" alt="Avatar" class="imageSong">
        <div class="overlaySong">
            <p class="textSong">Freddie Dredd<br>
                -<br>
                Cha Cha</p>
        </div>
    </div>
</div>
<br>
<div class="titulos">
    <h2 id="section2" style="padding-top: 10px">Artistas Populares</h2>
</div>
<br>
<div class="Artistas_populares" style="background-color: rgb(70, 30, 109)">
    <div class="flex-container">
        <div class="containerArtist" onclick="ParaArtistas()"> <img src="{%static 'IMG/Medasin.jpeg'%}" alt="Avatar" class="imageArtist">
            <div class="overlayArtist">
                <div class="textArtist">1<br>
                    Medasin</div>
            </div>
        </div>
        <div class="containerArtist" onclick="ParaArtistas()"> <img src="{%static 'IMG/RexOrangeCounty.jpeg'%}" alt="Avatar" class="imageArtist">
            <div class="overlayArtist">
                <div class="textArtist">2<br>
                    Rex Orange County</div>
            </div>
        </div>
        <div class="containerArtist" onclick="ParaArtistas()"> <img src="{%static 'IMG/kudasaibeats.jpg'%}" alt="Avatar" class="imageArtist">
            <div class="overlayArtist">
                <div class="textArtist">3<br>
                    KudasaiBeats</div>
            </div>
        </div>
        <div class="containerArtist" onclick="ParaArtistas()"> <img src="{%static 'IMG/lilxtra.jpg'%}" alt="Avatar" class="imageArtist">
            <div class="overlayArtist">
                <div class="textArtist">4<br>
                    Lil Xtra</div>
            </div>
        </div>
        <div class="containerArtist" onclick="ParaArtistas()"> <img src="{%static 'IMG/Joji.jpeg'%}" alt="Avatar" class="imageArtist">
            <div class="overlayArtist">
                <div class="textArtist">5<br>
                    Joji</div>
            </div>
        </div>
        <div class="containerArtist" onclick="ParaArtistas()"> <img src="{%static 'IMG/Mom%20Jeans.jpeg'%}" alt="Avatar" class="imageArtist">
            <div class="overlayArtist">
                <div class="textArtist">6<br>
                    Mom Jeans</div>
            </div>
        </div>
        <div class="containerArtist f" onclick="ParaArtistas()"> <img src="{%static 'IMG/bsd.u.jpeg'%}" alt="Avatar" class="imageArtist">
            <div class="overlayArtist">
                <div class="textArtist">7<br>
                    bsd.u</div>
            </div>
        </div>
        <div class="containerArtist f" onclick="ParaArtistas()"> <img src="{%static 'IMG/joey%20pecoraro.jpg'%}" alt="Avatar" class="imageArtist">
            <div class="overlayArtist">
                <div class="textArtist">8<br>
                    Joey Pecoraro</div>
            </div>
        </div>
    </div>
</div>
<br>
<a id="scrollup" href="#section1"><i class="fas fa-angle-double-up"></i></a> <br />
<div id="reproductor_visualizador" style="height: 300px; opacity:0.8;">
    <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/935654863&color=%23904cc1&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
</div>
<br> 
<br>
{% endblock %}