{% extends 'blog/base.html' %}
<html>
    <head>
        <title>Oxilab | Comunity </title>
    </head>
    <body>
        {% block content %}
        <div>
            <h1><a href="/">Comunity Posts</a></h1>
        </div>
            {% for post in posts %}
            <div>
                <p> publicado: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p> 
            </div>
            {% endfor %}
        {% endblock %}
    </body>
</html>

