{% extends 'blog/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
        <title>Oxilab | Comunity </title>
    <body>
{% block content %}
<link rel="stylesheet" href="{% static 'css/post_list.css' %}">
<div class="contenedor_post">
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                <p id="fecha-post"> publicado: {{ post.published_date }}</p>
            </div>
        {% endif %}
        <p id="titulo-post"><a>{{ post.title }}</a></p>
        <div>
            <p>{{ post.text|linebreaksbr }}</p> 
        </div>
    </div>
</div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}
</body>
</html>