{% extends 'blog/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
        <title>Oxilab | Comunity </title>
    <body>
        {% block content %}
        <link rel="stylesheet" href="{% static 'css/post_list.css' %}">
        <div  id="section2" class="titulos">
            <h2 style="padding-top: 10px">Post</h2>
        </div>
            <div class="flex-container-pl">
                {% for post in posts %}
                <div>
                    <p id="titulo-post"><a href="">{{ post.title }}</a></p>
                    <p id="fecha-post"> publicado: {{ post.published_date }}</p>
                    <br>
                    <p>{{ post.text|linebreaksbr }}</p> 
                </div>
                {% endfor %}
            </div>
        {% endblock %}
    </body>
</html>

