{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="titulos">
    <h2 id="section1" style="padding-top: 10px">Resultados de Busqueda</h2>
</div>
<div class="gcse-searchbox-only" data-resultsUrl="{% url 'Search'%}"></div>
    <div class="main-container">
<div class="flex-container-busqueda">
    <div>
        <div class="img-busqueda"> </div>
        <div class="info-busqueda"> </div>
    </div>
    <div>
        <div class="img-busqueda"> </div>
        <div class="info-busqueda"> </div>
    </div>
    <div>
        <div class="img-busqueda"> </div>
        <div class="info-busqueda"> </div>
    </div>
    <div>
        <div class="img-busqueda"> </div>
        <div class="info-busqueda"> </div>
    </div>
    <div>
        <div class="img-busqueda"> </div>
        <div class="info-busqueda"> </div>
    </div>
    <div>
        <div class="img-busqueda"> </div>
        <div class="info-busqueda"> </div>
    </div>
    <div>
        <div class="img-busqueda"> </div>
        <div class="info-busqueda"> </div>
    </div>
    <div>
        <div class="img-busqueda"> </div>
        <div class="info-busqueda"> </div>
    </div>
</div>
        </div>
<br>
<script src="{%static 'JS/search.js' %}"></script>
{% endblock %}