{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %} 
<title>OxiLab | Registro</title>
<link href="{% static 'css/signup.css' %}" rel="stylesheet" type="text/css" />
<div class="titulos">
    <h2 style="padding-top: 10px">Registro</h2>
</div>
<div id="overlay"></div>
<div  style="display: flex; justify-content: center; margin: auto; height: 300px;width: 24%;padding: 20px;">
    <form id="formulario" method="POST" action="{% url 'Signup' %}">
        <!--{{ form.as_p }}-->
        {% csrf_token %}
        <div class="input-container"> <i class="fa fa-user icon"></i>
            <div >{{form.username}}</div></div>

        <div class="input-container"> <i class="fa fa-key icon"></i>
            <div>{{form.password1}}</div> </div>

        <div class="input-container"> <i class="fa fa-key icon"></i>
            <div>{{form.password2}}</div></div> 
            {% if messages %}
            <div style="display: flex; justify-content: center;" class="messages">
                {% for message in messages %}
                    <div style="color: aliceblue;" class="{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}  
        <div class="input-container">
            <p id="WARNING">Mayusculas Activas</p>
        </div>
        <button class="btn">Register</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>

<div class="vacio" style="height: 500px"></div>
<style>
    input {
        height: 90%;
    }

    .input-container {
        display: -ms-flexbox;
        /* IE10 */
        display: flex;
        width: 100%;
        margin-bottom: 15px;
    }
    #id_username,
    #id_password1,
    #id_password2 {
        height: 90%;
    }

    i {
        transition: all .2s ease-in-out;
    }

    i:hover {
        -ms-transform: scale(1.1);
        /* IE 9 */
        -webkit-transform: scale(1.1);
        /* Safari 3-8 */
        transform: scale(1.1);
    }

    .btn-reg {
        background-color: dodgerblue;
        color: white;
        padding: 15px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.9;
    }
</style>
<script>
    // function on() {
    //   document.getElementById("overlay").style.display = "block";
    // }

    // function off() {
    //   document.getElementById("overlay").style.display = "none";
    // }
    $(document).ready(function () {
        $("formulario").click(function () {
            $("overlay").slideToggle();
        });
    });
</script>

<script src="{%static 'JS/signup.js' %}"></script>
{% endblock %}