{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %} 
<title>OxiLab | Registro</title>
<link href="{% static 'css/signup.css' %}" rel="stylesheet" type="text/css" />
<div class="titulos">
    <h2 style="padding-top: 10px">Registro</h2>
</div>
<div style="display: flex; justify-content: center; margin: auto; height: 300px;width: 80%;padding: 20px;">
    <form  method="POST" action="{% url 'Signup' %}">
        <!--{{ form.as_p }}-->
        {% csrf_token %}
        <div class="input-container"> <i class="fa fa-user icon"></i>
            <div id="user" class="infield">{{form.username}}</div>
            <i id="user_error" class="far fa-times-circle icon"></i> </div>
        <div class="input-container"> <i class="fa fa-key icon"></i>
            <div id="psw" class="infield">{{form.password1}}</div>
            <i id="email_error" class="far fa-times-circle icon"></i> </div>
        <div class="input-container"> <i class="fa fa-key icon"></i>
            <div id="psw" class="infield">{{form.password2}}</div>
            <i id="pass_error" class="far fa-times-circle icon"></i> </div>
        <div class="input-container">
            <p id="WARNING">Mayusculas Activas</p>
        </div>
        <button class="btn">Register</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
    <div class="vacio" style="height: 500px"></div>
<style>
input{
    height: 90%;
}
</style>
<script src="{%static 'JS/signup.js' %}"></script>
{% endblock %}