{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}
<title>OxiLab | Registro</title>
<link href="{% static 'css/signup.css' %}" rel="stylesheet" type="text/css" />
<div class="titulos">
    <h2 style="padding-top: 10px;color: white;">Registro</h2>
</div>
<div id="overlay"></div>
<div style="display: flex; justify-content: center; margin: auto; height: 300px;width: 30%;padding: 10px;">
    <form id="formulario" method="POST" action="{% url 'Signup' %}">
        {% csrf_token %}
        <div class="input-container"> <i class="fa fa-user icon icono"></i>
            <div>{{form.username}}</div>
        </div>

        <div class="input-container"> <i class="fa fa-key icon icono"></i>
            <div>{{form.password1}}</div>
        </div>

        <div class="input-container"> <i class="fa fa-key icon icono"></i>
            <div>{{form.password2}}</div>
        </div>
        {% if messages %}
        <div style="display: flex; justify-content: center; margin: auto; height: 300px;width: 30%;padding: 10px;" class="messages">
            {% for message in messages %}
            <div class="alert alert-info">
                <strong>Notificacion</strong>
                <div class="{{ message.tags }}">{{ message }}</div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <button class="btn-reg">Register</button>
        <input type="hidden" name="next" value="{{ next }}" />
        <br>
        <div class="input-container">
            <p id="WARNING">Mayusculas Activas</p>
        </div>
    </form>
</div>

<div class="vacio" style="height: 500px"></div>
<style>
    #WARNING {
        text-align: center;
        border: solid 3PX;
        width: 96%;
        display: none;
        color: red;
        margin-bottom: 10px;
    }

    .icono {
        padding: 12px 0;
        text-align: center;
        background-color: #6342bb;
        color: aliceblue;
        width: 50px;
        height: 40px;
    }

    input {
        height: 36px;
        padding: 1px;
    }

    .input-container {
        display: -ms-flexbox;
        /* IE10 */
        display: flex;
        width: 100%;
        height: 44px;
        margin-bottom: 15px;
    }

    #id_username,
    #id_password1,
    #id_password2 {
        height: 90%;
    }

    i {
        transition: all .2s ease-in-out;
    }

    i:hover {
        -ms-transform: scale(1.1);
        /* IE 9 */
        -webkit-transform: scale(1.1);
        /* Safari 3-8 */
        transform: scale(1.1);
    }

    .btn-reg {
        margin-left: 80px;
        background-color: dodgerblue;
        color: white;
        padding: 15px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.9;
    }
</style>
<script>
    // function on() {
    //   document.getElementById("overlay").style.display = "block";
    // }

    // function off() {
    //   document.getElementById("overlay").style.display = "none";
    // }
    $(document).ready(function () {
        $("formulario").click(function () {
            $("overlay").slideToggle();
        });
    });
</script>

<script src="{%static 'JS/signup.js' %}"></script>
{% endblock %}