
#coaching {
      z-index: 1;
  text-align: center;
  position: fixed;
  width: 50%;
  height: 28%;
  bottom: 0%;
  border-right: 1px solid rgba(100, 100, 100, 0.3);
  background: rgb(37, 26, 54, 0.9);
  left: -50%;
  transition: all 300ms linear;
  border-radius: 5px;
}

/* la accion*/
#coaching.active {
  left: 0px;
}

/* el boton*/
#coaching .togglec-btn {
  position: absolute;
  left: 102%;
  top: 20px;
  cursor: pointer;
}

#remixes .toggler-btn {
  position: absolute;
  right: 102%;
  top: 20px;
  cursor: pointer;
}

#remixes.active {
  right: 0px;
}

#remixes {
      z-index: 1;
  text-align: center;
  position: fixed;
  width: 50%;
  height: 28%;
  bottom: 0%;
  border-right: 1px solid rgba(100, 100, 100, 0.3);
  background: rgb(37, 26, 54, 0.9);
  right: -50%;
  transition: all 300ms linear;
  border-radius: 5px;
}

/* ##################################################### */

/* ##################################################### */



#Coach_and_Remix_Panel {
  background-color: #d3d7e0;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}
        

.box {
  margin: 1px auto;
  max-width: 600px;
}


/* ##################### CARTAS ######################### */

.flex-container-ye {
justify-content: center;
  display: flex;
  flex-wrap: row wrap;
} 
.flex-container-ye > div {
  flex-grow: 8;
  width: 300px;
  height: auto;
  margin: 10px;
  text-align: center;
  line-height: 35px;
  font-size: 30px;
}

.containerSong:hover {
  -ms-transform: scale(1.02); /* IE 9 */
  -webkit-transform: scale(1.02); /* Safari 3-8 */
  transform: scale(1.02); 
}

.containerSong {
	transition: all .2s ease-in-out;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
  position: relative;
  width: 23.5%;
}

.imageSong {
  display: block;
  width: 100%;
  height: auto;
}

.overlaySong {
  cursor: pointer;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color:  rgba(156, 51, 255, .70)
;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.containerSong:hover .overlaySong {
  bottom: 0;
  height: 100%;
}

.textSong {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*#################################### ARTISTAS ###################################################*/
.containerArtist:hover {
  -ms-transform: scale(1.02); /* IE 9 */
  -webkit-transform: scale(1.02); /* Safari 3-8 */
  transform: scale(1.02); 
}
.containerArtist {
	transition: all .2s ease-in-out;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
  position: relative;
  width: 23.5%;
}

.imageArtist {
  display: block;
  width: 100%;
  height: auto;
}

.overlayArtist {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color:  rgba(102, 0, 102, .70)
;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.containerArtist:hover .overlayArtist {
  bottom: 0;
  height: 100%;
}

.textArtist {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.buttonAU {
  border-radius: 4px;
  background-color: #691ef4;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.buttonAU span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonAU span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonAU:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
#reproductor_visualizador{
  position: fixed;
  bottom: 0%;
  width: 100%;
  height: 160px;
  left: -100%;
  background-color: rgba(17, 9, 24, 0.938);
  transition: all 200ms linear;
}
#reproductor_visualizador.active{
  left: 0px;
  
  /* position: sticky; */
}
#reproductor{
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 90%;
}
label{
  color: rgb(255, 255, 255);
}

