/* Aplicar en todos los HTML */

  #Usuario_Invalido{
    display: none;
    color: red;
  }
  #Contrasena_Invalida{
    display: none;
    color: red;
  }
  #WARNING {
	  text-align: center;
	  border: solid 3PX;
	  width: 96%;
	  display:none;
	  color:red;
	  margin-bottom: 10px;
}

#user_error,
#pass_error,
#c_pass_error,
#email_error,
#num_error{
	
	display: none;
}

#user_error,
#pass_error,
#c_pass_error,
#email_error,
#num_error.icon{
	background: red;
}


/* Set a style for the submit button */
.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
 