/* CSS Document */
p{
    color: aliceblue;
}
  #titulo-post a{
    color: aliceblue;
    font-size: 180%;
  }
  #titulo-post a:hover{
    cursor: pointer; /* Add a pointer on hover */
    font-size: 180%;
  }
  #fecha-post{
      font-size: 50%;
  }
  .contenedor_post{
    padding: 40px;
    margin: 15px;
  }
