/* Aplicar en todos los HTML */

#registro-form{
  left: 50%;
  top: 50%;
  margin-left: -25%;
  position: absolute;
  margin-top: -25%;
}
  /* asldjkhalsdkjfhgjasdfgkajhsdgfjahsdgfjhagsdf */
    #WARNING {
	  text-align: center;
	  border: solid 3PX;
	  width: 100%;
	  display:none;
	  color:red;
	  margin-bottom: 10px;
}
  

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

#user_error,
#pass_error,
#c_pass_error,
#email_error,
#num_error{
	
	display: none;
}

#user_error,
#pass_error,
#c_pass_error,
#email_error,
#num_error.icon{
	background: red;
}
.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {

  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
