


#user_error,
#pass_error,
#c_pass_error,
#email_error,
#num_error{
	
	display: none;
}

#user_error,
#pass_error,
#c_pass_error,
#email_error,
#num_error.icon{
	background: red;
}

.input-field {

  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */

.btn:hover {
  opacity: 1;
}
